/* the entire website page */
html{
    background-image: linear-gradient( rgb(21, 3, 63), black);
    scroll-behavior: smooth;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* the header/navigation bar */
.header {
    background-color: transparent;
    box-shadow: inset 0px 100px 100px rgb(21, 3, 63);
    filter: blur(5px);
    margin: 0vw;
    border-radius: 1vw;
    position: sticky;
    padding: 1vw;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    z-index: 89;
    transition: .5s;
    transition-timing-function: ease-in-out;
}

/* makes the header/nav visible and changes the color on hover */
.header:hover{
    filter: blur(0px);
    background-color: rgb(174, 18, 49);
    box-shadow: inset 0px -150px 100px rgb(21, 3, 63);
    margin: auto;
    transition: 1s;
    transition-timing-function: ease-in-out;
}

/* images in the header/nav */
.navimg {
  width: 12vw;
  height: 12vw;
  text-align: center;
}

/* the link and text in the header */
.header a, .header p{
    color: lavender;
    font-size: 2vw;
    letter-spacing: .5vw;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: .5vw;
    text-align: center;
    align-items: center;
    text-decoration: none;
    transition: .5s linear;
}

/* changes the color of the header text on hover */
.header p:hover {
    transition: .5s linear;
    transition-timing-function: ease-in-out;
    color: crimson;
}

/* the titles in each section */
.page h1{
    color: lavenderblush;
    font-size: 3vw;
    letter-spacing: 1vw;
    text-shadow: 0px 0px 50vw white;
}

/* the scroll bar customization */
::-webkit-scrollbar {
    width: .4vw;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent; 
  }
  ::-webkit-scrollbar-thumb {
    background: crimson; 
    border-radius: .2vw;
    transition: .5s;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: lavender; 
    transition: .5s;
    transition-timing-function: ease-in-out;
  }

/* each individual section */
.sub_class {
  text-align: center;
  font-size: 1.5vw;
  letter-spacing: .09vw;
  color: lavenderblush;
  margin: .5vw;
  padding: 2vw;
  border-radius: .5vw;
  background-color: transparent;
  transition: 1s;
}

/* the name card in the about me section */
.card {
  background-color: transparent;
  perspective: 30vw;
  width: 23vw;
  height: 23vw;
  margin-left: 34.9vw;
  margin-bottom: 12vh;
}

/* the card picture on the front */
.card img{
  width: 100%;
  height: 100%;
}

/* the box that the card sits in */
.card-flip {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: transform 2s;
  transform-style: preserve-3d;
  font-size: 1vw;
}

/* flips the card on hover */
.card:hover .card-flip{
  transform: rotateY(540deg);
}



/* the front and back of the card */
.front, .back{
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* front of the card */
.front{
  background-color: rgb(21, 3, 63);
  box-shadow: inset -5vw 5vw 5vw crimson;
}

/* the teddy bear icon in the middle of the card */
.mid{
  transform: rotateY(90deg);
}

.mid button{
  background-color: transparent;
  border: 0vw;
  cursor: pointer;
}

/* the back of the card */
.back{
  transform: rotateY(180deg);
  margin: 0vw;
  padding: 0vw;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.6vw;
  color:rgb(21, 3, 63);
  background-color: white;
  box-shadow: 0 0 20px lavenderblush;
}

.about_contact a{
  text-decoration: none;
}
/* about me link buttons */
.about_contact button{
  color: white;
  font-size: 2vw;
  text-shadow: 0 0 5px white;
  background-color: transparent;
  box-shadow: inset 0px 0px 0px crimson;
  border: None;
  border-radius: 50%;
  height:4vw;
  width: 4vw;
  transition: 1s;
}

/* turns the contact buttons red on hover */
.about_contact button:hover{
  background-color: transparent;
  box-shadow: inset 100px -100px 5px crimson;
  transition: 1s;
}

/* all of the skills in skills section */
#skills {
  overflow: scroll;
  width: 100%;
  display: flex;
  gap: 2vw;
}


/* the box that holds each individaul skill */
.container {
  height: fit-content;
  background-color: transparent;
  border-radius: .5vw;
  transition: transform .5s;
  text-align: center;
  border-radius: .5vw;
  }

/* the pictures in each skill box */
.container img{
  height: 15vw;
  width: 15vw;
}

/* the text in each skill box */
.container p{
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  border-radius: 1vw;
  padding: .2vw;
  text-shadow: 0 0 5px initial;
  transition:  .5s;
}

/* highlights text on hover */
.container p:hover {
  /* box-shadow: inset 0px 0px 10px white; */
  transition: .5s;
  -webkit-backdrop-filter: blur(10px);
  border-color: initial;
  border-style: solid;
}

/* the individaul colors of the skills */
#python {color: rgb(0, 255, 255);}
#git {color: rgb(255, 97, 150);}
#html {color: rgb(255, 123, 0);}
#css {color: rgb(34, 200, 255);}
#js {color: rgb(255, 204, 0);}
#django {color: rgb(0, 255, 0);}
#java {color: yellow;} 
#sql {color: blue;}
#bootstrap {color: purple;}
#spring {color: rgb(83, 211, 86);}

/* each project in the projects section */
.project {
  background-color: transparent;
  perspective: 30vw;
  padding: 1vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 20vw;
  width: 23vw;
  border-radius: .5vw;
}

/* the picture of the projects */
.project img{
  height: 100%;
  width: 100%;
  border-radius: .5vw;
  object-fit: cover;
  }

 /* the box the project cards sit in */
.proj-flip{
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0vw;
  text-align: center;
  border-radius: 1vw;
  transition: transform .5s;
  transform-style: preserve-3d;
  /* box-shadow: 0px 0px .1vw lavender; */
}

/* flips the project card on hover */
.project:hover .proj-flip{
  transform: rotateY(180deg);
}

/* the front (project picture) and back (project description) of the card */
.proj-img, .proj-desc{
  position: absolute;
  border-radius: .5vw;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* the front of the project card (picture) */
.proj-img {
  background-color: black;
}

/* the back of the project card (description) */
.proj-desc {
  transform: rotateY(180deg);
  margin: 0vw;
  padding: 0vw;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: medium;
  color: rgb(21, 3, 63);
  background-color: white;
  box-shadow: lavender;
  overflow-y: scroll;
}

/* different color for lanuguages used in project discription */
.lang {
  color:rgb(137, 62, 137);
}

/* the project descritption text and buttons */
.proj-desc p, .proj-desc button{
  margin: .5vw;
  font-size: 1.5vw;
}

/* the project buttons */
.proj-desc button{
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(21, 3, 63);
  color: white;
  text-shadow: 0 0 5px white;
  transition: .5s;
  border-radius: .5vw;
  border: .1vw;
  padding: .5vw;
  letter-spacing: .5vw;
  font-size: 1.5vw;
}

/* makes the button glow on hover */
.proj-desc button:hover{
  background-color: crimson;
  box-shadow: 0px 0px 5px crimson;
  transition: .5s;
  
}

/* organizes html elements in flex display */
.Luke {
  display: flex;
  justify-content: space-evenly;
  border-radius: 1vw;
  background-color: transparent;
}

/* automatic scroll oriantation */
#about_me, #projects, #Skills_, #contact, #resume{
  scroll-margin-top: 10vw;
}

/* the scroll to top teddy bear button */
.myBtn {
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 1vw;
  z-index: 999;
  cursor: pointer;
  scroll-margin-top: 9vw;
}

/* the picture of the teddy bear */
.myBtn img{
  width: 7vw;
  height: 6vw;
  opacity: 0.3;
  transition: .5s;
}

/* makes teddy bear button visible on hover */
.myBtn img:hover{
  opacity: 1;
  transition: .5s;
}


/* resume image */
#resume_img{
  border-radius: .5vw;
  height: 45vw;
  width: 34.5vw;
}

/* the box the resume image sits in */
.img-magnifier-container {
  position: relative;
  text-align: left;
  margin-left: 29.5vw;
}

/* the magnifying glass in the resume image */
.img-magnifier-glass {
  position: absolute;
  border: 3px solid rgb(21, 3, 63);
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 10vw;
  height: 10vw;
}

/* the download resume button */
#resume a {
  background-color: transparent;
  color: white;
  display:inline-block;
  margin-top: 10vh;
  font-size: 1.5vw;
  text-decoration: none;
  width: 10vw;
  text-shadow: 0 0 5px white;
  padding: 1vw;
  border-radius: 1vw;
  transition: .5s;
  border: None;
}

/* turns download button red on hover */
#resume a:hover{
  background-color: crimson;
  box-shadow: 0 0 10px crimson;
  color: lavender;
  transition: .5s;
}

#contact a{
  text-decoration: none;
}
/* contacts link buttons */
#contact button{
  color: white;
  font-size: 4vw;
  text-shadow: 0 0 5px white;
  background-color: transparent;
  box-shadow: inset 0px 0px 0px crimson;
  border: None;
  border-radius: 50%;
  height:7vw;
  width: 7vw;
  transition: 1s;
}

/* turns the contact buttons red on hover */
#contact button:hover{
  background-color: transparent;
  box-shadow: inset 100px -100px 5px crimson;
  transition: 1s;
}