html{
    background-color: rgb(21, 3, 63);
    scroll-behavior: smooth;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.header {
    background-color: transparent;
    box-shadow: inset 0px 100px 100px rgb(21, 3, 63);
    filter: blur(5px);
    margin: 0em;
    border-radius: 1em;
    position: sticky;
    padding: 1em;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    z-index: 89;
    transition: .5s;
    transition-timing-function: ease-in-out;
}

.header:hover{
    filter: blur(0px);
    background-color: rgb(174, 18, 49);
    box-shadow: inset 0px -150px 100px rgb(21, 3, 63);
    margin: auto;
    transition: 1s;
    transition-timing-function: ease-in-out;
}
.navimg {
  height: 9em;
  width: 9em;
  
}
.header a, .header p{
    color: lavender;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 10px;
    border-radius: .5em;
    text-align: center;
    text-decoration: none;
    transition: .5s linear;
}

.header p:hover {
    transition: .5s linear;
    transition-timing-function: ease-in-out;
    color: crimson;
}

.page h1{
    color: lavenderblush;
    font-size: xx-large;
    letter-spacing: .5em;
    text-shadow: 0px 0px 25px rgb(21, 3, 63);
}

::-webkit-scrollbar {
    width: .4em;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent; 
  }
  ::-webkit-scrollbar-thumb {
    background: crimson; 
    border-radius: .2em;
    transition: .5s linear;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: lavender; 
    transition: .5s linear;
    transition-timing-function: ease-in-out;
  }

.sub_class {
    font-size: x-large;
    letter-spacing: .09em;
    color: lavenderblush;
    box-shadow: inset 0px 0px 100px rgb(21, 3, 63);
    margin: .5em;
    padding: 2em;
    border-radius: .5em;
    background-color: transparent;
    transition: 1s;
}




#skills {
  overflow:hidden;
  width: 115em;
  display: flex;
  gap: 5em;
  padding: 2em;
  
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-115em, 0, 0); 
  }
}

.container {
  height: fit-content;
  background-color: transparent;
  border-radius: .5em;
  transition: transform .5s;
  text-align: center;
  border-radius: .5em;
  animation: slide 20s linear infinite;
  }

.container img{
  height: 9em;
  width: 9em;
}

.container p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1em;
  padding: .2em;
  text-shadow: 0 0 5px initial;
  transition:  .5s;
}

.container p:hover {
  /* box-shadow: inset 0px 0px 10px white; */
  transition:  .5s;
  -webkit-backdrop-filter: blur(10px);
  border-color: initial;
  border-style: solid;
}




#python {color: rgb(0, 255, 255);}
#git {color: rgb(255, 97, 150);}
#html {color: rgb(255, 123, 0);}
#css {color: rgb(34, 200, 255);}
#js {color: rgb(255, 204, 0);}
#django {color: rgb(0, 255, 0);}
#java {color: yellow;} 
#sql {color: blue;}
#bootstrap {color: purple;}
#spring {color: rgb(83, 211, 86);}

.card {
  background-color: transparent;
  perspective: 20em;
  width: 12em;
  height: 12em;
  float: left;
  margin-right: 1em;
}

.card img{
  width: 100%;
  height: 100%;
}

.card-flip {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0em;
  text-align: center;
  border-radius: .5em;
  transition: transform 2s;
  transform-style: preserve-3d;
  
}
.card:hover .card-flip{
  transform: rotateY(540deg);
}

.front, .back{
  position: absolute;
  border-radius: .5em;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front{
  background-color: transparent;
}


.mid{
  transform: rotateY(90deg);
}
.mid button{
  background-color: transparent;
  border: 0em;
  cursor: pointer;
}
.back{
  transform: rotateY(180deg);
  margin: 0em;
  padding: 0em;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: medium;
  color:rgb(21, 3, 63);
  background-color: white;
  box-shadow: 0 0 20px lavenderblush;
}

.project-1 {
  background-color: transparent;
  perspective: 20em;
  padding: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 10em;
  width: 13em;
  border-radius: .5em;
}

.project-1 img{
  height: 100%;
  width: 100%;
  border-radius: .5em;
  object-fit: cover;
  }

.proj-flip{
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0em;
  text-align: center;
  border-radius: 1em;
  transition: transform .5s;
  transform-style: preserve-3d;
  /* box-shadow: 0px 0px .1em lavender; */
}

.project-1:hover .proj-flip{
  transform: rotateY(180deg);
}

.proj-img, .proj-desc{
  position: absolute;
  border-radius: .5em;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.proj-img {
  background-color: black;
}

.proj-desc {
  transform: rotateY(180deg);
  margin: 0em;
  padding: 0em;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: medium;
  color: rgb(21, 3, 63);
  background-color: white;
  box-shadow: lavender;
  overflow-y: scroll;
}
.proj-desc p, .proj-desc button{
  margin: .5em;
}

.proj-desc button{
  background-color: rgb(21, 3, 63);
  color: lavender;
  text-shadow: 0 0 5px white;
  transition: .5s;
  border-radius: .5em;
  border: .1em;
  padding: .5em;
  letter-spacing: .5em;
  font-size: large;
}

.proj-desc button:hover{
  background-color: crimson;
  box-shadow: 0px 0px 5px crimson;
  transition: .5s;
  
}

.Luke {
  display: flex;
  justify-content: space-evenly;
  border-radius: 1em;
  background-color: transparent;
}


#projects, #skills, #contact{
  scroll-margin-top: 6.5em;
}

#about_me{
  scroll-margin-top: 9em;
}



.myBtn {
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 1em;
  z-index: 999;
  cursor: pointer;
  scroll-margin-top: 9em;
}

.myBtn img{
  width: 7em;
  height: 6em;
  opacity: 0.3;
  transition: .5s;
}

.myBtn img:hover{
  opacity: 1;
  transition: .5s;
}

#resume img{
  border-radius: .5em;
  height: 75%;
  width: 75%;
}

.btn button{
  background-color: transparent;
  color: white;
  font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 0 0 5px white;
  height: 5em;
  width: 10em;
  margin: 1em;
  border-radius: 1em;
  transition: .5s;
  border: None;
}


.btn button:hover{
  background-color: crimson;
  box-shadow: 0 0 10px crimson;
  color: lavender;
  transition: .5s;
}

.lang {
  color:rgb(137, 62, 137);
}

#contact button{
  color: white;
  text-shadow: 0 0 5px white;
  background-color: transparent;
  border: None;
  border-radius: 50%;
  height: 2em;
  width: 2em;
  transition: .5s;
}

#contact button:hover{
  background-color: crimson;
  box-shadow: 0 0 10px crimson;
  color: lavender;
  transition: .5s;
}